<div class="navs">
    <div class="nav_bar">
        <div class="icon">
            <a href="#">Logo</a>
        </div>
        <div class="menu">
            <ul>
                <li><a href="home">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contract</a></li>
                <!-- <li><a href="product-list">Product List</a></li>
                <li><a href="product-form ">Product Form</a></li>
                <li><a href="product-detail">Product Details</a></li> -->
            </ul>
        </div>
        <!-- <div class="profile">
           
             <div class="profile_btn">
                <button class="profile_btn">
                    <img [src]="userProfile?.profileImageUrl" alt="Profile">
                </button>
                <div class="dropdown-menu">
                   
                     <a routerLink="/profile">Profile</a>
                     <a routerLink="/user_password_change">Password Change</a>
                    <a href="#">Setting</a>
                    <a (click)="logout()" style="cursor: pointer;">Logout</a>
                </div>
            <i class="bi bi-box-arrow-left"></i>
            
        </div>
    </div> -->
    <a routerLink="/login">Login</a>
</div>
