<div class="container">
    <div class="title">
        <h2>Password change</h2>
    </div>
    <div class="password_from">
        <form (ngSubmit)="onSubmit()">
            <div class="from_layer">
                <label for="oldPassword">Old Password</label>
                <input type="password" id="oldPassword" name="oldPassword" [(ngModel)]="password.oldPassword" required>
            </div>
            <div class="from-layer">
                <label for="newPassword"> New Password</label>
                <input type="password" id="newPassword" name="newPassword" [(ngModel)]="password.newPassword" required>
            </div>
            <div class="from_layer">
                <label for="confirmPassword">Confirm Password</label>
                <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="password.confirmPassword" required>
            </div>

            <button type="submit" class="btn btn-success">Change</button>
        </form>
    </div>
</div>